*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 40px 0 0 40px;
 
}
p {
  padding: 0 0 50px 50px;
}
table{
  border-spacing: 10px;
  margin-bottom: 30px;
}
h2{
  margin-bottom: 10px;
}
h4{
  margin-top: 20px;
}
.show-link{
  padding: 0;
}
.message{
  margin: 0 0 30px 30px;
  color: green;
}